html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(255, 223, 43);
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }

  .about-container {
    display: block;
  }
  .image-div {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
  }
}

body {
  font-family: 'Roboto', san-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;

}

h1, h2 {
  font-family: 'Indie Flower', sans-serif;
  font-weight: 700;
  text-align: center;

}

h1 {
  font-size: 9rem;
  color: black;
}

h2 {
  font-size: 4.2rem;

}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 223, 43);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}



.nav-list a {
  display: block;
  padding-right: 1rem;
  color: black;
  font-size: 4rem;
  font-family: 'Indie Flower';

}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 223, 43);
  width: 100%;
  height: 100vh;

}

#welcome-section p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
}

.about-section {
  height: 100vh;
}

.about-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
}


.about-container {
  display: flex;
  padding-top: 50px;

}
.image-div {
  width: 50%;
  padding: 50px;
  margin: 0 auto;
}

.image-div img {
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}



.bio {
  padding: 50px;
  width: 75%;
}

.work-section {
  text-align: center;
  padding: 10rem 2rem;
  background-color: rgb(255, 223, 43);

}

.work-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;

}

.work-grid {
  display: grid;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.work {
  background: grey;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}

.work-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

.work-title {
  font-size: 2rem;

}

.contact-section {
  height: 50vh;
  text-align: center;
  font-family: 'Indie Flower', sans-serif;
  font-size: 30px;
  color: black;
  margin: 20px;

}

#ct-sc-head {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;
}

i {
  font-size: 20px;
  color: black;
}

.contact-links .btn {
  padding: 20px;
  color: black;

}
